@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: "Inter", sans-serif;
    line-height: 150%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #F3F5FC;
    padding: 5%;
    box-sizing: border-box;
}

.inputArea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.outputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    width: 25rem;
    justify-content: space-between;
    gap: 1rem;
}

.inputText, .outputText {
    border: none;
    outline: none;
    resize: none;
}

.inputText {
    font-size: 2rem;
    background-color: #F3F5FC;
    color: #0A3871;
    flex-grow: 1;
    padding-top: 15%;
}

.outputText {
    font-size: 1rem;
    background-color: white;
    color: #495057;
    display: none;
    margin: 1.5rem;
    position: relative;
}

.inputButtons {
    display: flex;
    gap: 2rem;
}

.inputButtons__encrypt, .inputButtons__decrypt {
    width: 20.5rem;
    height: 4.1rem;
    border-radius: 24px;
}

.inputButtons__encrypt {
    border: none;
    background-color: #0A3871;
    color: white;
}

.inputButtons__decrypt {
    background-color: #F3F5FC;
    border-color: #0A3871;
}

.message {
    text-align: center;
    padding: 1rem;
    margin-top: 40%;
}

.copyButton {
    width: 21rem;
    height: 4.1rem;
    border-radius: 1.5rem;
    background-color: white;
    border-color: #0A3871;
    display: none;
    margin-bottom: 2rem;
}

.inputButtons__encrypt:hover, .inputButtons__decrypt:hover, .copyButton:hover {
    background-color: #078ed7;
}

.link {
    text-decoration: none;
    color: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    color: #0A3871;   
    text-align: center;
    width: 100%;
}

@media (max-width: 1340px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        margin: 5%;
        margin-bottom: 2%;
        padding: 0;
    }
    .imagePerson {
        display: none;
    }
    .inputArea {
        padding-top: 7%;
        height: 70%;
    }
    .outputArea {
        width: auto;
        height: auto;
        margin: 5%;
    }
    .inputButtons {
        justify-content: center;
    }
    .inputText {
        height: 20rem;
        padding-top: 0;
    }
    .outputText {
        width: -webkit-fill-available;
        max-height: 10em;
    }
    .message {
        margin: 2%;
    }
    .copyButton {
        width: 60%;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        position: relative;
    }
}

@media (max-width: 376px) {
    .inputButtons {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
